@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  cursor: url("./assets/cursor/goat-bigger-cursor.png"), auto;
}

html {
  scroll-behavior: smooth;
}

li a {
  text-shadow: 0px 0px 3px #15803D;
}

@media only screen and (min-width: 767px) {
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #FACC15;
}
}